


{% extends 'home/base.html' %}
{% block content %}


<h1>Welcome to {{ restaurant_name }}</h1>

{% if error_message %}
    <div style="color:red; font-weight: bold; margin-bottom: 10px;">
        {{error_message}}
    </div>
{% endif %}

<p>We are happy to serve you delicious meals every day.</p>
<!-- Displaying the resturant's phone number from settings.py -->
<p>Contact us: {{ restaurant_phone }}</p>
<a href="{% url 'about' %}">About us</a>
<a href="{% url 'contact' %}">Contact us</a>

<hr>
<h2>Find Us</h2>
<p>123, Delicious Street, Near India Gate, New Delhi.</p>

<!--Google map will appear here -->
<iframe
    src="https://maps.google.com" width="100%" height="300" style="border:0">
</iframe>

<!-- Here API data will show in the home page from the orders app where menu items API created. -->

<h1>Check out our menu:</h1>
<ul>
    {% for item in menu %}
    <li><strong>{{ item.name }}</strong> - {{ item.description }} (₹{{ item.price }})</li>
    {% empty %}
    <li>No menu items available</li>
    {% endfor %}
</ul>


<!-- Displaying the locations of the restaurants -->

<h2>Our locations</h2>

{% if all_locations %}
    <ul>
        {% for location in all_locations %}
        <li>{{ location.address }}</li>
        <li>{{ location.city }}, {{ location.state }} - {{ location.zip_code }}</li>
        {% endfor %}
{% else %}
        <li>Location details coming soon..</li>
    </ul>
{% endif %}

{% endblock %}