
{% extends 'home/base.html' %}
{% block content %}

<h1>Our Menu</h1>

<!-- Search Bar -->
<form method="get" action="#">
    <input type="text" name="q" placeholder="Search menu items..." value="{{ query }}">
    <button type="submit">Search</button>
</form>

{% if all_items %}
    <ul>
        {% for item in all_items %}
            <li>
                {{ item.name }} - {{item.price}}
                {{ item.description }}

        {% endfor %}
    </ul>
    <a href="{% url 'home' %}">Back to Home</a>

{% endblock %}

   